section {
  position: absolute;
  width: 20vw;
  height: 65vh;
  left: 50%;
  top: 150%;
  margin-left: -10vw;
  margin-top: -32.5vh;

  article {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    margin-left: -10vw;
    margin-top: -32.5vh;
    // translate를 나중에 걸기 위해 margin으로 중앙에 해줌
    // border: 1px solid black;

    .inner {
      width: 100%;
      height: 100%;
      background-color: white;
      padding: 5vh 2.5vw 8vh;
      border-radius: 10px;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
      opacity: 0.6;
    }
  }
}
